<footer class="container">
    <div>
        <fa-icon [icon]="faStar" id="star" [rotate]="180"></fa-icon>&nbsp;&nbsp;&nbsp;ShineStar Shop
    </div>
    <div>
        <a href="https://www.facebook.com/shinestarshop.mx"><fa-icon  [icon]="faFacebook" [translate]="50" ></fa-icon>&nbsp;&nbsp;ShineStarShop</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br id="space">
        <a href="https://www.instagram.com/shine.starshop/"><fa-icon [icon]="faInstagram"></fa-icon>&nbsp;&nbsp;shien.starshop</a>
    </div>
</footer>
