.container {    
    padding-left: 2em;
    padding-right: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*--------- BACKGROUND ------------------------------*/

.background-circles {
    position: fixed;
    z-index: -10;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.circle {
    position: absolute;
    border-radius: 50%;
}

.circle1 {
    top: 15vh;
    left: -30vh;
    background: #D6F0F1;
    width: 45vh;
    height: 45vh;
}

.circle2 {
    top: 5vh;
    left: 15vw;
    background: #EBDEB0;
    width: 10vh;
    height: 10vh;
}

.circle3 {
    top: 6vh;
    right: -7vh;
    background: #C1D0ED;
    width: 15vh;
    height: 15vh;
}

.circle4 {
    bottom: -10vh;
    right: -15vh;
    background: #FADCEC;
    width: 30vh;
    height: 30vh;
}

/*--------- SECTION ------------------------------*/

section {
    text-align: center;
    height: 100%;
    min-height: 730px;
}

section img {
    max-width: 100%;
    max-height: 60vh;
}

/*--------- TITLES ------------------------------*/

h1 {
    text-align: center;
    line-height: 1em;
    color: #293C56;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2.5em;
    font-weight: 800;
}

h1 span:nth-child(1) {
    color: #F895C9;
}

h1 span:nth-child(2) {
    color: #85E1E5;
}

h3 {
    text-align: center;
    color: #293C56;
    font-weight: 400;
    font-size: 1em;
}

h2 {
    text-align: center;
    line-height: 1em;
    color: #293C56;
    margin-top: 0;
    margin-bottom: 1.5em;
    font-size: 2em;
    font-weight: 800;
}

h2 span {
    color: #85E1E5;
}

/*--------- REGISTER BUTTON ------------------------------*/

#registrar {
    border: none;
    background: linear-gradient(45deg, #F895C9 0%, #8BDFFF 100%);
    color: white;
}

#registrar::before, #registrar::after {
    display: block;
    content: "";
    height: 3.5px;
    width: 100%;
}

/*--------- CATALOG BUTTON ------------------------------*/

#catalogo {
    border-color: #85E1E5;
    background-color: white;
    color: #85E1E5;
}

#catalogo:hover {
    border-color: #85E1E5;
    background-color: #85E1E5;
    color: white;
}

/*--------- VER MAS BUTTON ------------------------------*/

#vermas {
    margin: 1em 0;
    border-color: #7397D9;
    background-color: #7397D9;
    color: white;
}

#vermas:hover {
    border-color: #7397D9;
    background-color: white;
    color: #7397D9;
}

/*--------- SCROLL BUTTON ------------------------------*/

#down {
    color: #87A4CB;
    font-size: 3em;
    cursor: pointer;
}

a {
    text-decoration: none;
}

/*--------- PROMOCIONES ------------------------------*/

#promociones {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.col {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

div .product {
    width: 100px;
}

/*--------- HIDE ELEMENTS ------------------------------*/

.hide-mobile {
    display: none;
}

@media only screen and (max-height: 540px) {
    section h3 {
        padding: 0 10vw;
    }
}

@media only screen and (min-width: 570px) {
    section h3 {
        padding: 0 10vw;
    }

    .row {
        max-width: 600px;
    }

    .col {
        width: 50%;
    }
}

@media only screen and (min-width: 880px) {
    .row {
        max-width: 900px;
    }

    .col {
        width: 33%;
    }
}

/*--------- DESKTOP ------------------------------*/

@media only screen and (min-width: 1020px) {

    /*--------- CIRCLES ------------------------------*/

    .circle1 {
        top: 80vh;
        left: -10vh;
    }
    
    .circle2 {
        top: 69vh;
        left: 16vw;
    }
    
    .circle3 {
        top: 13vh;
        left: 15vw;
        width: 28vh;
        height: 28vh;
    }
    
    .circle4 {
        top: 40vh;
        right: -50vh;
        width: 80vh;
        height: 80vh;
    }

    /*--------- SECTION ------------------------------*/

    .container .content {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    section img {
        max-width: 50%;
        max-height: 80vh;
    }

    /*--------- CONTENT ------------------------------*/

    .container .content > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /*--------- TITLES ------------------------------*/

    h1, section h3 {
        text-align: left;
        padding: 0;
    }

    h1 {
        font-size: 4em;
        padding-bottom: .3em;
    }

    section h3 {
        font-size: 1.3em;
        max-width: 400px;
        padding-bottom: 2em;
    }

    /*--------- BUTTONS ------------------------------*/

    .buttons {
        justify-content: left;
    }

    button {
        font-size: 1.3em;
    }

    #down {
        font-size: 4em;
    }
}

@media only screen and (min-width: 1140px) {
    .row {
        max-width: 1200px;
    }

    .col {
        width: 25%;
    }
}