<div class="cart">
    <div id="backgrounds">

    </div>
    <div class="sections">
        <div id="cartList" *ngIf="section == 1">
            <product-list-card *ngFor="let product of productsService.getCartProducts()" [product]="product"></product-list-card>
        </div>
        <iframe *ngIf="section == 2" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d53770.34489661149!2d-115.43461375549012!3d32.61560141535117!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2smx!4v1622977890071!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        <div class="sectionImage" *ngIf="section == 3">
            <img src="../../../assets/fontoCart.jpg" alt="">
        </div>
        <div class="rounderBorder"><div></div></div>
        <section *ngIf="section == 1">
            <a (click)="showDetails()" [style.transform]="show ? 'rotate(0deg)' : 'rotate(180deg)'" id="hideDetails"><fa-icon [icon]="faArrowDown"></fa-icon></a>
            <div id="section-content-1" class="column hide-mobile show-desktop">
                <a routerLink="../catalogo" id="goBack"><fa-icon [icon]="faArrowLeft"></fa-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Volver al Catálogo</a>
                <h2>Verificar Carrito<span>.</span></h2>
                <div class="row">
                    <h4>Subtotal</h4>
                    <h4>${{Math.ceil(productsService.getCartSubTotal())}}<span>.00</span></h4>
                </div>
                <div class="row">
                    <h4>IVA 16%</h4>
                    <h4>${{Math.ceil(productsService.getCartIVA())}}<span>.00</span></h4> 
                </div>
                <div class="row">
                    <h4>Costo de Envío</h4>
                    <h4>$20<span>.00</span></h4> 
                </div>
                <hr>
                <div class="row">
                    <h3>Total</h3>
                    <h3>${{Math.ceil(productsService.getCartTotal())}}<span>.00</span></h3>
                </div>
            </div>
            <button (click)="setSection(2)">Continuar</button>
        </section>
        <section *ngIf="section == 2">
            <a (click)="showDetails()" [style.transform]="show ? 'rotate(0deg)' : 'rotate(180deg)'" id="hideDetails"><fa-icon [icon]="faArrowDown"></fa-icon></a>
            <div id="section-content-1" class="column hide-mobile show-desktop">
                <a (click)="setSection(1)" id="goBack"><fa-icon [icon]="faArrowLeft"></fa-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Volver al Carrito</a>
                <h2>Seleccionar Ubicación<span>.</span></h2>
                <div id="textDiv">
                    <form class="column">
                        <h6>Estado</h6>
                        <input type="text" name="estado" placeholder="estado" [(ngModel)]="estado">
                        <h6>Ciudad</h6>
                        <input type="text" name="ciudad" placeholder="ciudad" [(ngModel)]="ciudad">
                        <h6>Colonia</h6>
                        <input type="text" name="colonia" placeholder="colonia" [(ngModel)]="colonia">
                        <div class="row" style="padding: 0;">
                            <h6>Calle</h6>
                            <div style="width: 16px; height: 16px;">&nbsp;</div>
                            <h6 class="numero" >#</h6>
                        </div>
                        <div class="row" style="padding: 0;">
                            <input type="text" name="calle" placeholder="calle" [(ngModel)]="calle">
                            <div style="width: 16px; height: 16px;">&nbsp;</div>
                            <input class="numero" type="text" name="numero" placeholder="#" [(ngModel)]="numero">
                        </div>
                    </form>
                </div>
            </div>
            <button (click)="setSection(3)">Continuar</button>
        </section>
        <section *ngIf="section == 3">
            <a (click)="showDetails()" [style.transform]="show ? 'rotate(0deg)' : 'rotate(180deg)'" id="hideDetails"><fa-icon [icon]="faArrowDown"></fa-icon></a>
            <div id="section-content-1" class="column hide-mobile show-desktop">
                <a (click)="setSection(2)" id="goBack"><fa-icon [icon]="faArrowLeft"></fa-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Volver a Seleccionar Ubicación</a>
                <h2>Seleccionar Ubicación<span>.</span></h2>
                <div id="textDiv">
                    <form class="column">
                        <h6>Nombre</h6>
                        <input type="text" name="nombre" placeholder="estado" [(ngModel)]="nombre">
                        <h6>Apellido Paterno</h6>
                        <input type="text" name="apellidop" placeholder="ciudad" [(ngModel)]="apellidop">
                        <h6>Apellido Materno</h6>
                        <input type="text" name="apellidom" placeholder="colonia" [(ngModel)]="apellidom">
                    </form>
                </div>
            </div>
            <button>Finalizar</button>
        </section>
    </div>
</div>