.card {
    padding: 12px;
    max-width: 240px;
    font-family: "Poppins";
    border-radius: 5px;
}

.card-content {
    color: dimgray;
    padding: 12px 6px;
    padding-bottom: 0;
}

#title {
    font-size: 16px;
    font-weight: 400;
}

.row {
    margin-bottom: 2px;
}

#price_data {
    box-sizing: border-box;
    margin: 5px 0px;
}

#price, #price_dec {
    float: right;
    line-height: 24px;
    box-sizing: content-box;
}

#price {
    font-size: 24px;
    font-weight: 600;
    padding-top: 10px;
    box-sizing: border-box;
}

#price_dec {
    font-size: 16px;
    font-weight: 500;
}

#score {
    font-size: 8px;
    color: rgb(245, 186, 26);
}

.btn {
    border-radius: 15px;
    font-size: 14px;
    font-family: "Poppins";
    font-weight: 500;
    background-color: #707FCD;
    margin-left: -11px;
    scale: .8;
    float: left;
}

.i-actions * {
    font-size: 22px;
    float: right;
    margin: 4px 0px;
}

#heart {
    color: #D78EBA;
}

#share {
    color: #558EB2;
}