<div class="product">
    <div class="sale">sale</div>
    <div class="card">
        <img src="../../../assets/Captura de Pantalla 2021-04-26 a la(s) 11.58.12.png" alt="">
        <div class="row">
            <h4>UGH! T-Shrit</h4>
            <h4>$200<span>.00</span></h4>
        </div>
        <div class="row">
            <h6><fa-icon [icon]="faStar"></fa-icon><fa-icon [icon]="faStar"></fa-icon><fa-icon [icon]="faStar"></fa-icon><fa-icon [icon]="faStar"></fa-icon><fa-icon [icon]="faStar"></fa-icon></h6>
            <h6>&nbsp;&nbsp;$360.00&nbsp;&nbsp;</h6>
        </div>
        <div class="row">
            <button id="buy"><fa-icon [icon]="faMoneyBill"></fa-icon>&nbsp;&nbsp;comprar</button>
            <button id="add"><fa-icon [icon]="faCartPlus"></fa-icon>&nbsp;&nbsp;agregar</button>
        </div>
    </div>
</div>