* {
    width: auto;
}

.product {
    box-sizing: border-box;
    display: block;
    width: 280px;
    transition-timing-function: ease-in; 
    transition-duration: .2s;
    padding: 0;
    margin: 0;
    padding-bottom: 1.2em;
}

.product:hover {
    transform: scale(1.05);
    transition-timing-function: ease-out; 
    transition-duration: .2s;
}

.product > .row {
    justify-content: flex-start;
}

.sale {
    font-size: .6em;
    background-color: #83A2DC;
    color: white;
    width: 60px;
    text-align: center;
    margin-left: 20px;
    padding: .4em 0;
    border-radius: 11px 11px 0 0;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.out {
    font-size: .6em;
    background-color: #dc8383;
    color: white;
    width: 60px;
    text-align: center;
    margin-left: 20px;
    padding: .4em 0;
    border-radius: 11px 11px 0 0;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.card {
    padding: 16px;
    border-radius: 6px;
    background-color: white;
    box-shadow: rgba(41, 60, 86, .16) 3px 3px 12px;
    color: #293C56; 
}

.card img {
    width: 248px;
    height: 248px;
    margin-bottom: .8em;
}

.card .row:nth-child(4) {
    justify-content: flex-end;
    margin-bottom: .8em;
}

.row {
    width: 95%;
    margin-left: 2.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h4, h6 {
    display: inline-block;
    width: auto;
    margin: 0;
}

h4 {
    font-size: 1.2em;
    margin-top: -5px;
}

h4 span {
    font-size: .8em;
}

h6 {
    font-size: .8em;
}

#price {
    font-weight: 600;
}

#stars {
    font-size: .7em;
    color: #F08020;
}

#stars fa-icon {
    margin-right: .5em;
}

#priceBefore {
    text-decoration: line-through;
    min-width: 40px;
    font-weight: 600;
    text-align: center;
    color: #C4C4C4;
    text-decoration-thickness: 2px;
    margin-top: -3px;
}

button {
    width: 47.5%;
    text-transform: uppercase;
    font-size: .6em;
    padding: .5em;
    border: solid 2px;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: .1em;
    transition-timing-function: ease-in; 
    transition-duration: .3s;
}

button:hover {
    transform: scale(1.1);
    transition-timing-function: ease-out; 
    transition-duration: .3s;
}

#buy {
    border-color: #F895C9;
    background-color: #F895C9;
    color: white;
    margin: 0;
    width: 48%;
}

#buy:hover {
    border-color: #F895C9;
    background-color: white;
    color: #F895C9;
}

#add {
    border-color: #85E1E5;
    background-color: white;
    color: #85E1E5;
    margin: 0;
    width: 48%;
}

#add:hover {
    border-color: #85E1E5;
    background-color: #85E1E5;
    color: white;
}