<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:600">

<div class="card">
    <img src="../../../assets/Captura de Pantalla 2021-04-26 a la(s) 11.58.12.png" alt="">
    <div class="product-info"> 
        <h3>UGH! T-shirt</h3>
        <div>
            <h3>260</h3>
            <h4>.00</h4>
            <h5>&nbsp;MEX + FEES</h5>
        </div>
    </div>
    <div class="actions">
        <button><fa-icon [icon]="faCartPlus"></fa-icon></button>
    </div>
</div>
