<div class="card">
    <a id="close" (click)="productService.removeFromCart(product, true)"><fa-icon [icon]="faTimes"></fa-icon></a>
    <div class="row-1">
        <img src="assets/images/{{product.images[0]}}" alt="">
        <div class="column-1">
            <h2>{{product.title}}</h2>
            <div class="item-inputs" *ngIf="product.colors.length > 0">
                Color
                <div class="item-text" *ngFor="let color of product.colors; let i = index">
                    <div class="item-selector" 
                        [style.border]="colorSelect == i ? 'solid 2px #F895C9' : 'solid 2px lightgray'" 
                        (click)="selectColor(i)">
                        <div class="selector" 
                            [style.background-color]="color">
                            &nbsp;
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-inputs" *ngIf="product.sizes.length > 0">
                Talla
                <div class="item-text" *ngFor="let size of product.sizes; let i = index">
                    {{size}}
                    <div class="item-selector" 
                        [style.border]="sizeSelect == i ? 'solid 2px #F895C9' : 'solid 2px lightgray'" 
                        (click)="selectSize(i)">
                        <div class="selector" 
                            [style.background-color]="sizeSelect == i ? '#F895C9' : 'white'">
                        &nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-2">
        <div class="column-2">
            <h5>Cantidad</h5>
            <div class="quantity">
                <button id="remove" (click)="productService.removeFromCart(product, false)">-</button>
                <h4>{{product.cart_quantity}}</h4>
                <button id="add" (click)="productService.addToCart(product)">+</button>
            </div>
        </div>
        <div class="column-2">
            <h5>Precio</h5>
            <h3>${{Math.ceil(product.price - product.price * product.discount)}}<span>.00</span></h3>
        </div>
        <div class="column-2">
            <h5>Total</h5>
            <h3>${{Math.ceil((product.price - product.price * product.discount) * product.cart_quantity)}}<span>.00</span></h3>
        </div>
    </div>
</div>

