.card {
    width: 100%;
    padding: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0px 5px 12px rgba(51, 60, 86, .16);
    border-radius: 6px;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
}

#close {
    position: absolute;
    top: 1em;
    right: 1em;
    color: #7F7F7F;
    cursor: pointer;
}

.row-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    align-self: flex-start;
}

.row-2 {
    width: 100%;
}

.column-1 {
    width: 100%;
    display: flex;
    padding-top: 1.5em;
    flex-direction: column;
    justify-content: flex-start;
}

.column-2 {
    width: 100%;
    padding-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2, h3 {
    margin: 0;
    line-height: 1em;
}

h3 {
    font-size: 1.4em;
}

h2 {
    font-size: 1.5em;
    width: 100%;
}

h5 {
    font-size: 1.2em;
    color: gray;
    margin: 0;
    font-weight: 400;
}

span {
    font-size: .8em;
}

img {
    width: 250px;
    height: 250px;
}

.quantity {
    width: 140px;
    color: #F895C9;
    font-size: 1.2em;
    text-align: center;
    border-radius: 16px;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center;
    align-items: center !important;
}

.quantity button {
    width: fit-content;
    height: 100%;
    padding: 0px 1rem;
    margin: 0 !important;
    border: none;
    color: white;
    background-color: #F895C9;
}

.quantity button:hover {
    transform: none;
    color: #F895C9;
    background-color: white;
}

.quantity h4 {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-size: 1em;
    margin: 0;
    color: #F895C9;
    border-top: solid 3px #F895C9;
    border-bottom: solid 3px #F895C9;
}

#remove {
    border: solid 3px #F895C9;
    border-radius: 13px 0 0 13px;
}

#add {
    border: solid 3px #F895C9;
    border-radius: 0 13px 13px 0;

}

.quantity button:focus {
    color: white;
    background-color: #F895C9;
}


/*------------ RADIO BUTTON -------------------*/
.item-inputs {
    width: 100%;
    color: #293C56;
    margin-top: 1em;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
}

.item-text {
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.item-selector {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-sizing: border-box;
    margin-left: 6px;
    overflow: hidden;
    
    display: flex;
    align-items: center;
    align-content: center;
    padding: 2px;
    justify-content: flex-start;
    transition-timing-function: ease-out; 
    transition-duration: .3s;
}

.selector {
    width: 100%;
    height: 100%;
    border-radius: 500%;
    background-color: #F895C9;
}

@media only screen and (min-width: 485px) { 
    .quantity {
        padding-top: 0;
    }
    
    .column-1 div {
        display: flex;
    }
}

@media only screen and (min-width: 570px) {
    img {
        height: 150px;
        width: 150px;
    }

    .row-1 {
        flex-direction: row;
    }

    .column-1 {
        padding-top: 0;
        padding-left: 2em;
    }
}

@media only screen and (min-width: 640px) {
    .row-2 {
        display: flex;
        justify-content: space-between;
    }
    
    .column-2 {
        flex-direction: column;
    }
}

@media only screen and (min-width: 780px) {
    .card {
        flex-direction: row;
        justify-content: flex-start;
    }
    
    .row-2 {
        flex-direction: column;
        height: 100%;
    }

    .row-2 .column-2:nth-child(1) {
        padding-top: 1em;
    }

    #close {
        top: 1em;
    }
}

@media only screen and (min-width: 930px) {
    .row-2 {
        width: 100%;
        align-items: center;
    }

    .column-2 {
        justify-content: space-evenly;
        flex-direction: row;
    }
}


@media only screen and (min-width: 1000px) {
    .card {
        max-width: 1200px;
        flex-direction: column;
        justify-content: flex-start;
    }

    img {
        height: 150px;
        width: 150px;
    }

    .row-1 {
        flex-direction: row;
    }

    .column-1 {
        padding-top: 0;
        padding-left: 2em;
    }
}

@media only screen and (min-width: 1100px) {
    .card {
        align-items: flex-start;
    }

    .row-2 {
        flex-direction: row;
    }
    
    .column-2 {
        flex-direction: column;
        justify-content: flex-start;
    }

    .row-2 .column-2 {
        padding-top: 1em;
    }
}

@media only screen and (min-width: 1290px) {
    .card {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }

    .row-2 {
        flex-direction: column;
        align-items: center;
        height: 100%;
        justify-content: space-between;
        width: 100%;
        flex-grow: 1;
    }

    .row-2 .column-2:nth-child(1) {
        padding-top: 1em;
    }

    .column-2 {
        justify-content: space-between;
        flex-direction: column;
    }
}

@media only screen and (min-width: 1400px) {
    .row-2 {
        width: 100%;
        align-items: center;
    }

    .column-2 {
        justify-content: space-evenly;
        flex-direction: row;
    }
}

@media only screen and (min-width: 1600px) {
    .card {
        align-items: flex-start;
    }

    .row-2 {
        flex-direction: row;
    }
    
    .column-2 {
        flex-direction: column;
        justify-content: flex-start;
    }

    .row-2 .column-2 {
        padding-top: 1em;
    }
}