<div class="card">
    <a href="#" id="close"><fa-icon [icon]="faTimes"></fa-icon></a>
    <div class="row">
        <img src="../../../assets/Captura de Pantalla 2021-04-26 a la(s) 11.58.12.png" alt="">
        <div class="column">
            <h3>UGH! T-Shrit</h3>
            <div>
                <h2>$200<span>.00</span></h2>
                <div class="quantity">
                    <button id="remove">-</button>
                    <h4>2</h4>
                    <button id="add">+</button>
                </div>
            </div>
        </div>
    </div>
</div>
