.products {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.col {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

@media only screen and (min-width: 570px) {
    .row {
        max-width: 600px;
    }

    .col {
        width: 50%;
    }
}

@media only screen and (min-width: 750px) {
    .products {
        padding-top: 100px;
    }
}

@media only screen and (min-width: 880px) {
    .products {
        padding-top: 200px;
    }

    .row {
        max-width: 900px;
    }

    .col {
        width: 33%;
    }
}

@media only screen and (min-width: 1180px) {
    .row {
        max-width: 1200px;
    }

    .col {
        width: 25%;
    }
}

@media only screen and (min-width: 1480px) {
    .row {
        max-width: 1500px;
    }

    .col {
        width: 20%;
    }
}

@media only screen and (min-width: 1780px) {
    .row {
        max-width: 1800px;
    }

    .col {
        width: 16.6%;
    }
}