<div class="products">
    <div class="row">
        <div class="col"><product-card></product-card></div>
        <div class="col"><product-card></product-card></div>
        <div class="col"><product-card></product-card></div>
        <div class="col"><product-card></product-card></div>
        <div class="col"><product-card></product-card></div>
        <div class="col"><product-card></product-card></div>
        <div class="col"><product-card></product-card></div>
        <div class="col"><product-card></product-card></div>
    </div>
</div>