<header class="container">
    <a class="hide-desktop" (click)="showMenu()"><fa-icon [icon]="faBars" class="menu"></fa-icon></a>

    <a id="logoA"><img src="../../../assets/logo.png" alt=""></a>
    <nav>
        <ul id="menu" class="show-desktop hide-mobile">
            <li><a routerLinkActive="active" href="#">inicio</a></li>
            <li><a routerLinkActive="active" routerLink="catalogo">catálogo</a></li>
            <!--<li><a routerLinkActive="active" routerLink="about">nosotros</a></li>--> 
            <!--<li><a routerLinkActive="active" routerLink="contact">contacto</a></li>--> 
            <!--<li><a routerLinkActive="active" routerLink="faq">faq</a></li>--> 
            <!--<li class="show-desktop hide-mobile"><button id="signin">ingresar</button></li>--> 
            <li id="cart" (click)="displayCart()" class="show-desktop hide-mobile"><div><a><fa-icon [icon]="faCartArrowDown"></fa-icon></a></div></li>
        </ul>
        <!--<a class="hide-desktop"><fa-icon [icon]="faSignInAlt"></fa-icon></a>-->
        <a (click)="displayCart()" class="hide-desktop"><fa-icon [icon]="faCartArrowDown"></fa-icon></a>
    </nav>
</header>
<cart-preview [show]="showCart"></cart-preview>
<div id="menuFiller" class="filler hide-desktop hide-mobile" (click)="showMenu()"></div>