<div class="background-circles">
    <div class="circle circle1"></div>
    <div class="circle circle2"></div>
    <div class="circle circle3"></div>
    <div class="circle circle4"></div>
</div>
<div class="container">
    <div>
        <h1>Catálogo<span>.</span></h1>
        <a (click)="showFilters()" class="hide-desktop"><fa-icon id="filterButton" [icon]="faFilter"></fa-icon></a>
    </div>
    <div id="searchDiv" class="hide-mobile show-desktop">
        
        
        <form>
            <input type="search" name="search" placeholder="Buscar" [(ngModel)]="search">
            <button type="submit" id="search"><fa-icon [icon]="faSearch"></fa-icon></button>
        </form>
    
    
    </div>
    <select name="" [value]="'General'" id="filterBy" class="hide-mobile show-desktop" name="category" [(ngModel)]="category"> 
        <option [value]="'General'" >General</option>
        <option [value]="'Ropa'">Ropa</option>
        <option [value]="'Fotos'">Fotos</option>
        <option [value]="'Ilustraciones'">Ilustraciones</option>
        <option [value]="'Pines'">Pines</option>
        <option [value]="'Prints'">Prints</option>
    </select>
    <!--<select name="" id="orderBy" class="hide-mobile show-desktop">
        <option value="">Ordenar Por</option>
        <option value="">Nombre</option>
        <option value="">Precio</option>
        <option value="">Valoración</option>
    </select>-->
</div>
<div class="products">
    <div class="row">
        <div class="col" *ngFor="let product of productService.products"
        [style.display]="showProduct(product)">
                <product-card  
                    [product]="product" 
                    >
                </product-card>
        </div>
    </div>
</div>